<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Haseeb Chaudhary Profile Page</title>
    <!-- Fontawesome Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <meta charset="utf-8">
    <!-- Google result text-->
    <title>Haseeb Chaudhary Profile Page</title>
    <!-- Google result description-->
    <meta name="description" content="Haseeb Chaudhary profile page describing who is is and what he does.">
    <!-- Facebook metadata-->  
    <meta property="og:title" content="Haseeb chaudhary Profile Page">
    <meta property="og:image" content="<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
    <meta property="og:description" content="Haseeb Chaudhary profile page describing who is is and what he does.">
    <meta property="og:site_name" content="Le Wagon"/> 
    <!-- Twitter metadata-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@haseebchaudhary">
    <meta name="twitter:title" content="Haseeb Chaudhary profile page describing who is is and what he does">
    <meta name="twitter:description" content="Haseeb Chaudhary is a fullstack developer and application security expert.">
    <meta name="twitter:creator" content="@haseebchaudhary">
    <meta name="twitter:image:src" content="http://twitter-card.jpg">

  </head>
  <body>
    <h1>Hi I'm Haseeb</h1>
        <img src="/images/cool_pic.jpg" alt="front_bedroom" width="200" height="200">
        <p>I'm a creative full stack developer and have strong background in application security. I launched Ceziam, which aims to democratise cyber security. Love spending time in the mountains and motorbikes</p>

        <a href="https://ceziam.com" target="_blank">
        Discover Ceziam
        </a>
    <br>
    <h2> Follow me
    <br>
    <ul>
        <li>
            <a href="https://github.com/haseebc" target="_blank"> 
            <i class="fab fa-github-square"></i> 
            </a>

        </li>
        <li>
            <a href="https://twitter.com/haseebchaudhary" target="_blank">
            <i class="fab fa-twitter-square"></i> 
            </a>
        </li>
        <li>
            <a href="https://medium.com/@haseebchaudhary_98209" target="_blank">
            <i class="fab fa-medium"></i> 
            </a>
        </li>
    </ul>
    </h2>

  </body>
</html>










